.wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 24px 36px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  align-self: center;
  font-size: 18px;
  color: #34364c;
  h2 {
    display: inline-block;
    margin-bottom: 12px;
  }
}

.button {
  display: flex;
  text-decoration: none;
  color: #34364c;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 32px;
  background: hsla(0, 0%, 100%, 0.25);
  border: 1px solid hsla(0, 0%, 100%, 0.18);
  border-radius: 10px;
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  cursor: pointer;
  margin-top: 18px;
  transition: all 0.5s;
  align-self: stretch;
  &:hover {
    box-shadow: none;
  }
}

.logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('../../../public/logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
